<%= content_for :head do -%>
  <script type="text/javascript">
    $(function() {

      var by_starts_at = [
        <% @events_by_starts_at.each do |e| -%>
          ["<%= e[0].to_date.strftime('%B %Y') -%>", <%= e[1] -%>],
        <% end -%>
      ]

      var by_created_at = [
        <% @events_by_created_at.each do |e| -%>
          ["<%= e[0].to_date.strftime('%B %Y') -%>", <%= e[1] -%>],
        <% end -%>
      ]

      var plot = $.plot($("#event_chart"),
        [ { data: by_starts_at, label: "Occuring Per Month"},
          { data: by_created_at, label: "Created Per Month" } ],
        {
          series: {
            lines: {  show: true,
                      lineWidth: 2,
                   },
            points: { show: true },
            shadowSize: 2
        },
        xaxis {
          mode: "categories",
          tickLength: 0
        },
        grid: { hoverable: true,
                clickable: true,
                tickColor: "#dddddd",
                borderWidth: 0
              },
        colors: ["#FA5833", "#2FABE9"]
      });

    });
  </script>
<% end -%>

<div class="row-fluid">

  <div class="box">
    <div class="box-header">
      <h2>
        <i class="icon-list-alt"></i>
        <span class="break"></span>
        Number of Warmachine/Hordes Events
      </h2>
    </div>
    <div class="box-content">
      <div id="event_chart" class="center" style="height: 500px;" ></div>
    </div>
  </div>


</div><!--/.fluid-container-->

